@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #3f3f3f;
}

.app {
  margin: 3rem;
}

button {
  background-color: #240370;
  color: white;
  border: 1px solid #240370;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-size: 100%;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover,
button:active {
  background-color: #33059e;
  border-color: #33059e;
}

.form {
  font-size: 2.4rem;
  padding: 3rem;
  margin: 0 auto;
  max-width: 80rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border-radius: 4px;
}

.transport-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.horizontally {
  display: flex;
  gap: 3rem;
}

.form-control {
  width: 100%;
  flex-direction: column;
  display: flex;
}

.form-control input,
.form-control select {
  height: 4rem;
  font-size: 80%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 2px solid #ccc;
  max-width: 100%;
}

.form-control input:focus,
.form-control select:focus {
  outline: none;
  border-color: #240370;
  background-color: #e0d4fd;
}

.invalid input {
  border-color: #ff8787;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ffc078;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
  font-size: 70%;
}

.confirm-btn {
  height: 8rem;
}
.confirm-btn:disabled {
  background-color: #3f3f3f;
  border-color: #3f3f3f;
  cursor: not-allowed;
}

/* FILE UPLOAD */
.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 4px;
  border: 2px solid #ccc;
}

.dropzone ul {
  padding: 0.6rem;
  list-style: none;
  width: 100%;
}

.select-files-btn {
  margin: 0.6rem;
}

.upload-svg {
  margin-top: 3rem;
  width: 5rem;
  height: 5rem;
}

.remove-svg {
  flex: 0 0 2.4rem;
  align-self: start;
  fill: #b40e0e;
  cursor: pointer;
}

.files-list {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.files-row {
  display: flex;
  gap: 0.6rem;
}

.file-types {
  font-size: 1.8rem;
  color: #3f3f3f;
  margin-bottom: 1rem;
  text-align: center;
}

input[type='file'] {
  display: none;
}

/* CARGOES */

.cargo-group {
  display: flex;
  flex-direction: column;
}

.cargo-group .horizontally {
  margin-top: 2rem;
}

.cargo-group:not(:last-child)::after {
  content: '';
  top: 0;
  height: 3px;
  width: 100%;
  background-color: #3f3f3f;
  margin: 3rem 0;
}

.car .add-cargo-btn {
  align-self: flex-end;
}
